<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Timekeeper
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card color="primary" padding>
		<!-- <h2>Time Remaining:</h2> -->
		<h2>Time Remaining</h2>
		<p>{{ this.hoursRemaining }} hours {{ this.minutesRemaining }} minutes {{ this.secondsRemaining }} seconds</p>
	</ion-card>


	<ion-card class="day green" *ngFor="let time of timeList" (click) = "presentActionSheet()">
		<ion-grid>
			<ion-row>
				<ion-col col-12 class="day-label">
					{{ time.day }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6 class="in-time">
					{{ time.intime }}
				</ion-col>
				<ion-col col-6 class="out-time">
					{{ time.outtime }}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>




	<ion-fab right bottom>
		<button ion-fab color="defualt" (click)="presentToast()" class="tk-fab in-out">{{ this.toSignInorOut }}</button>
	</ion-fab>

</ion-content>

<!-- *ngFor="let item of items" (click)="itemSelected(item)" -->
